body {
    background-color: rgb(14, 24, 52);
}

#principal{
    background-color: rgb(157, 167, 244);
    width: 300px;
    padding: 20px;
    margin: 10% 40%;
    border-radius: 10px;
    text-align: center;
}

